@(posts: List[String])

@main("Clarissa Tadeus' Website") {
    <div className="parallax">
        <section id="header" className="parallax__group">
            <div className="parallax__layer parallax__layer--base">
                <div className="container">
                    <h2>Clarissa Tadeus' Professional Website</h2>
                </div>
            </div>
        </section>
        <section id="header-image" className="parallax__group">
            <div className="parallax__layer parallax__layer--base">
            </div>
            <div className="parallax__layer parallax__layer--back">
            </div>
        </section>
        <section id="content" className="parallax__group">
            <div className="parallax__layer parallax__layer--base">
                <div className="container">
                    <div id="profile-pic">
                        <img src="@routes.Assets.versioned("images/552918_10150784830518725_1607869859_n.jpg")" />
                    </div>
                    <article>
                        <header><h2>Hello, my name is Clarissa! :)</h2></header>
                        <div className='post-content'>
                            <p>Hello, this is my first cool post!</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
}
